{{cat_name}}\t{{title_limit}}: {{cat_limit}}\t{{title_length}}: {{cat_length}}\t{{title_controls}}: {{cat_controls}}
--------------------------------------------------------------------------------------------------------------------------------------------------